<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="image-home">
    <img src="/images/beer.png" alt="Beer Image">
</div>
<div class="btn-container">
    <button>
        <a href="/beers">Check the Beers!</a>
    </button>
    <button>
        <a href="/random-beer">Check a Random Beer!</a>
    </button>
</div>
    <footer>
        <div>
            <h3>Developed by Ironhack :)</h3>
        </div>
    </footer>
</body>
</html>